@media screen and (max-width:1245px){
    .main-image-container figure img{
        transition: .6s;
        width: 500px;
        height: 350px;
    }
}
@media screen and (max-width:1113px){
    .main-text-container h1{
        font-size: 25px;
        width: 100%;
    }
    .main-text-container p{
        font-size: 14px;
        width: 100%;
    }
}

@media screen and (max-width:1000px){
    .main{
        background-image: url('../images/bg-mobile.svg');
    }
}

@media screen and (max-width: 920px){
    .main-image-container figure img{
        transition: .6s;
        width: 450px;
        height: 300px;
    }

    .main-text-container{
        margin-bottom: 20px;
    }

    .main-text-container h1{
        font-size: 25px;
        width: 100%;
    }
    .main-text-container p{
        font-size: 15px;
        width: 100%;
    }
}

@media screen and (max-width:768px){
    .main{
        height: fit-content;
    }
    
    .main-content-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: inherit;
        padding: 40px 40px 100px 40px;
    }

    .main-text-container{
        text-align: center;
        margin-top: 30px;
    }

    
    .main-image-container{
        margin-right: 0;
        position: relative;
        top: 40px;
        margin-bottom: 35px;
        margin-top: 35px;
    }

    header{
        padding: 20px 20px 0 20px;
    }

    footer{
        position: absolute;
        height: fit-content;
        margin-top: -70px;
        left: 50%;
        right: 50%;
        margin-left: 50px;
    }

    .main-text-container a button{
        margin-top: 40px;
    }
}

@media screen and (max-width:503px){
    .main-image-container figure img{
        transition: .6s;
        width: 100%;
        height: 100%;
    }

    .main-image-container figure{
        margin-left: 15px;
    }
}
