@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

:root{
    --heading-family: 'Poppins', sans-serif;
    --body-family: 'Open Sans', sans-serif;
    --background-color: hsl(257, 40%, 49%);
}

*{
    margin: 0;
}

body{
    /* background-image: url('../images/bg-desktop.svg');
    background-color: var(--background-color);
    background-size: contain;
    background-position: center;
    min-height: 100vh;
    overflow: hidden; */
}

header{
    padding: 40px 40px 0px 40px;
    position: absolute;
    z-index: 1;
}

.main{
    position: relative;
    background-image: url('../images/bg-desktop.svg');
    background-color: var(--background-color);
    background-size: contain;
    background-position: center;
    height: 100vh;
    overflow: hidden;
}

.main-content-container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 40px 40px 0 40px;
}

.main-image-container{
    margin-right: 50px;
}

.main-text-container{
    text-align: left;
    margin-bottom: 70px;
}

.main-text-container h1{
    font-family: var(--heading-family);
    font-weight: 700;
    color: white;
    width: 500px;
    font-size: 35px;
    width: 450px;
}

.main-text-container p{
    font-family: var(--body-family);
    font-weight: 400;
    color: white;
    margin-top: 30px;
    font-size: 16px;
    width: 500px;
}

.main-text-container a{
    text-decoration: none;
}

.main-text-container a button{
    text-align: center;
    color: var(--background-color);
    font-family: var(--heading-family);
    font-weight: 300;
    font-size: 18px;
    height: fit-content;
    width: fit-content;
    padding: 10px 60px;
    border: none;
    border-radius: 50px;
    outline: none;
    box-shadow: 0px 4px 11px 1px rgba(0,0,0,0.75);
    margin-top: 30px;
    cursor: pointer;
}

footer{
    position: absolute;
    height: fit-content;
    margin-top: -70px;
    right: 35px;
}

.footer-list{
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.footer-list-icons{
    margin-right: 10px;
}
.footer-list-icons:nth-child(3){
    margin-right: 0;
}

.footer-list-icons a{
    color: white;
    outline: none;
}

.footer-list-icons a span{
    font-size: 20px;
}